<div class="row">
        <div class=cos-xs-3>
            <p>Stats</p>
        </div>
        <div class=cos-xs-6>
            <p>Feed</p>
        </div>
        <div class=cos-xs-3>
            <p>About</p>
        </div>
</div>


